<% if flash[:errors] %>
  <ul>
    <br>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h3>Type In Your Password</h3>

<%= form_tag "/edit" do %>
  Password: <%= password_field_tag :password %> <br>
  <%= submit_tag "Submit" %>
<% end %>
