<br><br>
<% if flash[:error] %>
  <br>
  <h2>
    <%= flash[:error] %>
  </h2>
<% end %>


<%= form_tag "/existingsignup" do %>
  <%= collection_select :family, :family_id, @families, :id, :family_name_and_id, prompt: true%><br>
  <%= submit_tag "Choose Family" %>
<% end %>
