
<div class = "hc-new-acct-container">
  <div class = "hc-new-acct-options">

    <%= link_to "My Family Already Exists", existingsignup_path %><br/>
    <%= link_to "Register Family", new_family_path %><br/>
    <%= link_to "I Need an Account", signup_path %>
  </div>
</div>
