<% @people.each do |person| %>
  <ul>
    <% if person.image_url == "" %>
    <li> <%=  link_to(person.first_name, person )%></li>
    <% else %>
    <li> <%= link_to image_tag(person.image_url), person %> </li>
    <% end %>
  </ul>

<% end %>

<%= link_to("Home", '/') %>
