<h2> <%= @family.family_name %> Memories </h2>




  <div class="memories-container">
    <% @memories.each do |memory| %>
      <div>
        <div>
          <%= link_to image_tag(memory.image_url), memory %>
        </div>
        <div class="memories-title">
          <%=  memory.title %>
        </div>
      </div>
    <% end  %>
  </div>
