/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
<<<<<<< HEAD
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Cardo');




  @import "bootstrap-sprockets";
  @import "bootstrap";

 * {
   font-family: Cardo;
 }

 h2 {
   font-family: Cardo !important;
   font-weight: bolder !important;
   border-bottom: 0 !important;
   font-size: 3rem;
 }

 .yield{
   padding-left: 30px;
   padding-right: 30px;
 }


 // layout
 .nav-bar{
   display: flex !important;
   justify-content: space-between !important;
   border-bottom: lightgrey 1px solid !important;

 }

 #family-initial-logo{
   color: black !important;
   position:relative !important;
   top: 5px !important;
   font-size: 30px !important;
   // border: 1px solid;
   padding-bottom: 0px !important;

   padding-left: 6rem !important;
   font-weight: bold !important;


 }

 .nav-bar-links{
   padding-top: 20px !important;
   padding-bottom: 10px !important;
   text-align:right !important;
   color:black !important;
   // border: 1px solid;

 }



 .nav-bar-links a {
   color:black !important;
   margin-left: 5px !important;
   margin-right: 5px !important;
 }

#family-initial-logo a{
  color: black !important;
}



 //
 // sessions/new.html.erb
 //

 .masthead{
   height: 100%;
   background: url(/assets/main-bg-2.jpg) center scroll;
   background-color: black;
   background-position: top;
   margin-top: -20px;
 }

 .transbox{
    position: relative;
    top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
    // border: 1px solid black;
    opacity: 0.8;
    border-radius: 10px;


 }


 .login .form{
   width: 50%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 30px;
 }

 .login h2{
   padding-top: 2rem;
   font-size: 5rem;
 }

 input[type=submit]{
   padding-left: 10px;
   padding-right: 10px;
 }

 .errors-div{
   width: 75%;
   margin-left: auto;
   margin-left: auto;
 }

//
// sessions/whichaccount.html.erb
//

.hc-new-acct-container{
  height: 100%;
  // border: solid 1px;
  text-align: center;
}

.hc-new-acct-options{
  padding-top: 10rem;
  display: inline-block;

  // border: solid 1px;
}

.hc-new-acct-options a{
  margin-bottom: 5rem;
  font-size: 3rem;
}

//
//  sessions/newaccount.html.erb
//

.hc-sign-up-form{
  height:100%;
  text-align:center;
}
.hc-sign-up-form-container{
  display: inline-block;
}

.hc-sign-up-form form{
  padding-top: 5rem;
  text-align: left


}






//sessions/show.html
.row{
  padding: 0px !important;
}

.ek-memory-name-container{
  text-align: center !important;

  padding-left: 1rem !important;
}

.ek-memory-name{
  padding-top: 2rem !important;
  padding-left: 5rem !important;
  padding-right: 2rem !important;
  text-align: left  !important;
  margin: auto  !important;
  border-right: solid 1px #BFBFBF  !important;
  height: 100%  !important;

}

.ek-link{
  margin-bottom: 10rem  !important;
}
.ek-link a{

  color: black !important;
  font-size: 1.3rem !important;
}


#ek-person-name a{
  color: black !important;
  font-size: 1.3rem !important;
}

.ek-memory-name .show-links{
  margin-bottom: 4rem  !important;
}


.ek-memory-container img{
  width: 100%  !important;
}

.ek-memory-name p{
  margin-bottom: 8px !important;
}


.ek-memory-image-container{
  display:flex  !important;
  flex-wrap: wrap  !important;

}

.ek-memory-image-container-div{


}

.ek-memory-column{
  border: solid 1px #dedfe0 !important;
  margin: 10px  !important;
  text-align: center !important;
}

.ek-memory-column img{
  max-width: 275px  !important;
  max-height: 275px  !important;
  margin-top: 1rem !important;

}

.ek-memory-column p{
  font-size: 1rem  !important;
  margin-left: auto  !important;
  margin-right: auto  !important;
  text-align: center  !important;
  max-width: 12rem  !important;
  word-wrap: break-word  !important;
}











//session/show - GRID LAYOUT

.hc-grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width:100%;
  padding-right: 5rem;
}

.hc-grid-column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}


.ek-memory-image-container-div {

  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1100px) {
  .hc-grid-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .hc-grid-column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1600px) {

  .row{
    padding-left: 15rem !important;
    padding-right: 25rem !important;
  }
}
































  // people/show
  .row {
    padding: 35px 70px 50px 90px;
  }

  .bio{

    font-size: 14pt;
  }

  .col-md-4{
    float: left;
    width: 33.33%
  }

  .col-md-4 img{
    display:block;
    margin:auto;
    max-width: 25rem;
    max-height: 25rem;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
}

 .captionks {
   font-size: 1.5rem;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   max-width: 13rem;
   word-wrap: break-word;
 }

 .container-fluid img {
   max-width: 35rem;
   max-height: 35rem;
 }


 // memories/show
 .descriptionks{
   padding: 40px 70px 70px 100px;
   font-family: Cardo;
   font-size: 14pt;
  }

  .hc-show-memory-container img{
    max-height: 500px;
    max-width: 500px;
  }






// memories/index.html

.memories-container{
  display:flex;
  flex-wrap: wrap;
  padding: 40px;
}

.memories-container img{
  margin: 10px;
  max-width: 200px;
  max-height: 300px;
}

.memories-title{
  text-align: center;
  font-size: 10px;
  max-width: 12rem;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  text-align: center;
}

// people/index.html

.hc-edit-family{
  text-align:center;
  margin:auto;
}

.hc-people-container{
  display:flex;
  flex-wrap: wrap;
  padding: 40px;
}

.hc-people-container img{
  margin: 10px;
  max-width: 300px;
  max-height: 300px;
}

.hc-person-name{
  text-align: center;
  font-size: 10px;
}



// people/new


.formpeople{
  padding-left: 60rem;
  padding-right: 10rem;
  align-content: right;
}

.bodypeople{
  background: url(http://earthdeco.us/wp-content/uploads/2018/04/roots-clipart-unique-20-best-free-use-family-tree-low-zero-cost-images-on.jpg) no-repeat;
  background-position: 5% 15%;
}



//memories/new

.bodymemories{
  background: url(https://image.freepik.com/free-photo/old-vintage-camera-on-old-books-on-wooden-background-old-vintage-holiday-concept_1220-1115.jpg) no-repeat;
  background-position: 10% 20%;
}

.formmemories{
padding-left: 80rem;
padding-right: 10rem;
align-content: right;
}

.form-check-label{
  padding-left: 2rem;
}

// family/edit and sessions/editselfaccount

.formeditfamily{
  display: inline-block;
  text-align: center;
}
// /family/new
.formfamily{
  padding-left: 60rem;
  padding-right: 10rem;
  align-content: right;
}

.bodyfamily{
  background: url(https://dspncdn.com/a1/media/692x/08/51/be/0851bea82034a230c1568aab3bdccd64.jpg) no-repeat;
  background-position: 10% 0%;
  background-size: contain;
}

footer{
  border-top: 1px solid lightgrey;
}
